<div class="container-fluid dark">
  <div class="row">
    <div class="col">
      <p>For the Facts visit <a style="color:gold" href="https://www.drinkaware.co.uk">drinkaware.co.uk</a></p>
    </div>
    <div class="col">
      <p>Somerset, UK</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>Fancy a chat? We love talking all things cider and all things running. Get in touch.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">  
      <a href="https://www.facebook.com/The-Ciderthon-1871313883180169/?modal=admin_todo_tour" class="footer-social">
        <i class="fa fa-facebook" style="font-size:30px"></i>                
      </a>
      <a href="https://www.instagram.com/theciderthon/" class="footer-social">
        <i class="fa fa-instagram" style="font-size:30px"></i>
      </a>
      <a href="mailto:info@ciderthon.com" class="footer-social">
        <i class="fa fa-envelope" style="font-size:30px"></i>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>©2017 BY THE CIDERTHON, PROPERTY OF ENDURE IT LTD.</p>
    </div>
  </div>

  <!--
  <div class="row">
    <div class="col">
      <div class="logo">
      </div>
    </div>
  </div>
  -->
</div>
