<div class="container dark">
  <div class="wide" style="color:white">
    For the Facts visit <a style="color:gold" href="https://www.drinkaware.co.uk">drinkaware.co.uk</a>
  </div>
  <div class="wide" style="color:white">
    Somerset, UK
  </div>
</div>
<div class="dark">
Fancy a chat? We love talking all things cider and all things running. Get in contact.
<div class="logosBox">
  <div class="wideLogo">
    <a href="https://www.facebook.com/The-Ciderthon-1871313883180169/?modal=admin_todo_tour">
      <div class="facebook">
      </div>
    </a>
  </div>
  <div class="wideLogo">
    <a href="https://www.instagram.com/theciderthon/">
      <div class="insta">
      </div>
    </a>
  </div>
  <div class="wideLogo">
    <a href="mailto:info@ciderthon.com">
      <div class="mail">
      </div>
    </a>
  </div>
</div>
  ©2017 BY THE CIDERTHON, PROPERTY OF ENDURE IT LTD.
  <div class="logo">
  </div>
</div>
