.dark{
  background: url("../../assets/Photos/Generic/kristian2.jpg") rgba(0,0,0,0.8)  no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: color;
  text-align: center;
  color:white;
  padding: 2em 1em;
}

.footer-social {
  padding:1em;
  color:white;
}

.footer-social:hover {
  text-decoration: none;
}

.logo {
  width: 10wh;
  height: 10vh;
  background: url("../../assets/Logo/endureit.png") no-repeat center center;
  background-size: contain;
}