<div id="cf7" class="shadow">
    <div (mouseenter)="adder()" (mouseleave)="adder()" class="overText" [class.add]="add">
      <div class="innerText" [innerHTML]="text">
      </div>
    </div>
  <img *ngFor="let image of images"
        (click)="next()"
        [class.opaque]="image.name === selectedImage"
        src={{image.src}} />
  <!-- <img class="opaque" src="../../assets/Photos/Generic/image 10.jpg" />
  <img src="../../assets/Photos/Generic/chloe-ridgway.jpg" />
  <img src="../../assets/Photos/Generic/image 3.jpg" />
  <img src="../../assets/Photos/Generic/image 6.jpg" />
  <img src="../../assets/Photos/Generic/image 4.jpg" /> -->
</div>
<!-- <p id="cf7_controls">
  <span *ngFor="let image of images"
    (click)="onSelect(image)">
    <div [class.selected]="image.name === selectedImage" class="circle"></div>
  </span>
</p> -->
