<div class="container-fluid body-background">

  <div class="nav-padding"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="white">
          <h2 [class.active]="mainText1"><span class="white-bar-text">29th of April 2018</span></h2>
          <h2 [class.active]="mainText2"><span class="white-bar-text">Wells, Somerset</span></h2>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid body-white">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <p class="body-text text-center">
          Wells will be hosting The Ciderthon, as the first event of its kind in the UK.
          <br>
          Come along and take your taste buds off road.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <p class="text-center">
          <a class="ticket-link" routerLink="/tickets">Click here for tickets</a></p>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 panel-image-1">
      <div class="panel-text-container">
        <p><span class="white-bar-text">Train hard, play hard.</span></p>
        <p><span class="white-bar-text">Get ready for those 13 miles.</span></p>
        <p><span class="white-bar-text">Read up on training tips <a href="https://www.buzzfeed.com/tabathaleggett/half-marathon-tips-from-people-whove-actually-done-it?utm_term=.gqGQYOJ79#.bgDD0r549" class="panel-link">here</a>.</span></p>
      </div>
    </div>
    <div class="col-md-6 panel-image-2">
      <div class="panel-text-container">
        <p><span class="white-bar-text">Run for a cause.</span></p>
        <p><span class="white-bar-text">Set up your own fundraising page</span></p>
        <p><span class="white-bar-text"><a href="https://www.justgiving.com/?utm_medium=cpc&utm_source=google&utm_campaign=UK-Generic-Fundraising-NonVertical-NA-Exact-Desktop-AlwaysOn&utm_term=set%20up%20a%20fundraising%20page" class="panel-link">justgiving.com</a></span></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid body-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Support</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <p class="body-text text-center">
            We will be there to support you every step of the way, not just with cider… 
            <br>
            Pro Medicus Ltd. will be the expert medical care providers to give support throughout the run. Alongside our team of fantastic marshalls The Ciderthon is well covered. 
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 panel-image-3">

    </div>
    <div class="col-md-5 panel-black">
      <p class="text-center">
        keeping you hydrated
        <br>
        glastonbury spring water
      </p>
    </div>
  </div>
</div>


<app-footer></app-footer>
