<div class="topPad"></div>
<div class="container contianerText">
  <div class="wide2 textt">
    <div class="white">
      <h2>Coming soon<br>
      <span>Wells, Somerset</span></h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="text bottomText">
    Wells will be hosting the Half Ciderthon, as the first event of its kind in the UK.<br><br>
    Starting in the market place next to the grand Wells Cathedral,<br>
    the run will make its way through the centre onto the Somerset moors,<br>
    surrounded by the beauty of the west country and views of Glastonbury Tor.
  </div>
</div>
<div class="container">
  <div class="text bottomText">
      <a routerLink="/tickets"><p>CLICK HERE FOR TICKETS</p></a>
    <br>
  </div>
</div>

<div class="container">
<app-carousel [images]="images1" [text]="'Train Hard . Play Hard
<br> Get ready for those 13.1 miles!
<br> Read up on training tricks <a href=https://www.buzzfeed.com/tabathaleggett/half-marathon-tips-from-people-whove-actually-done-it?utm_term=.gqGQYOJ79#.bgDD0r549>here</a> '"></app-carousel>
<app-carousel [images]="images2" [text]="'Run for a cause
<br> Set up your own fundraising page with
<br> <a href=https://www.justgiving.com > justgiving.com </a>'"></app-carousel>
</div>

<div class="containerBlank">
  <div class="support">
      <p>SUPPORT</p>
  </div>
</div>
<div class="containerBlank">
  <div class="textFlex">
      We will be there to support you every step of the way,<br>
      not just by providing cider and tasty local goods...<br>
      Pro Medicus Ltd. will be there to provide expert medical care and support,<br>
      aided by our team of fantastic marshalls.
    <br>
  </div>
  <div class="proMedic">
  </div>
</div>
<div class="containerGlasto">
  <div class="textFlex">
  </div>
  <div class="textFlex">
    <div class="whiteText">
      <br>
      <br>
        Keeping you hydrated
        <br>
        Glastonbury Spring Water
      <br>
      <br>
    </div>
  </div>
</div>
<app-footer></app-footer>
