.body-background {
  /* background: url("../../assets/Photos/signpost.jpg") rgba(255, 255, 255, 0.8) no-repeat center center fixed; */
  background: url("../../assets/Photos/signpost.jpg") no-repeat center center fixed;
  background-size: cover;
  /* background-blend-mode: color; */
  padding:5em 0;
}

.body-white{
  background-color:white;
  padding:2em 0;
}

.nav-padding {
  height: 15vh;
}

.body-header a{
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  color: black;
}
.body-header a:hover{
  color:#757575;
  cursor: pointer;
}

.white h2 {
  text-align: center;
  opacity: 0;
  transition: 3.5s ease-in-out;
  padding: 5px;
}

/*
.white-bar-text {
  background-color: white;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: #747474;
  font-size: 1.5rem;
}
*/
.white-bar-text{
  color: white;
  font: 800 32px/32px "open sans";
  text-align: center;
  text-transform: uppercase;
  text-shadow: 4px 4px 10px #011100, -2px -3px 10px #011100, 4px 5px 10px #011100, 4px 6px 10px #011100;
}

.body-text {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  padding: 2rem 0;
}

.active {
  opacity: 1 !important;
}

.ticket-link{
  background-color:gold;
  padding:10px 25px;
  text-transform: uppercase;
  color:#666666;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:1.1rem;
  font-weight:bold;
  text-align: center;
  border-radius: 5px;
}

.ticket-link:hover{
  text-decoration:none;
  background-color:#FFDA10;
  color:#747474;
}

.running-charity-logo{
  height:5rem;
}

.panel-black{
  background-color:black;
}

.panel-black p{
  color:white;
  padding:2em 1em;
  font-size:1.5em;
  font-family: 'Permanent Marker', cursive;
}

.panel-text-container{
  padding:10% 20%;
}
.panel-text-container p span{ font-size: 1em; }

.panel-link{ 
  text-decoration: none; 
  font-weight: bold;
  color:gold;
  font-family: 'Roboto Condensed', sans-serif;
}
.panel-link:hover{
  text-decoration: none;
  color:#757575;
}

.panel-image-1{
  background: url("../../assets/Photos/Generic/jenny-hill-2.jpg") no-repeat center center;
  background-size: cover;
  min-height: 40vh;
}

.panel-image-2{
  background: url("../../assets/Photos/Generic/jenny-hill-1.jpg") no-repeat center center;
  background-size: cover;
  min-height: 40vh;
}

.panel-image-3{
  background: url("../../assets/Photos/Generic/glastonbury.jpg") no-repeat center center;
  background-size: cover;
  background-blend-mode: color;
  padding:4em 0;
}