<app-navstub></app-navstub>
<div class="container">
  <div class="wide">
    <h1> Tickets </h1>
    <p>
    Early bird: £45
    <br>
    <br>
    Standard: £50
    <br>
    <br>
    Last Minute: £60
    <br>
    <br>
    <!-- Links to waivers through ticket purchase -->
  </p>
  </div>
  <div class="wide">
    <h1> Ciderthon Rules </h1>

    <ul>
    <li>
    Good fancy dress is COMPULSORY. <br>
    <li>
    Train for a half marathon! It is still 13.1 miles which aren't going to complete themselves! <br>
    <li>
    We will let you know what ciders and other tasters will be available on route, make yourself aware of these and only have what's best for you. <br>
    <li>
    Take it at your own pace, have breaks when you need them. <br>
    <!-- <li> -->
    </ul>
  </div>
</div>
<app-footer></app-footer>
