<nav class="navbar navbar-toggleable-md fixed-top navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="site-logo">
    <a routerLink="/home">
      <img src="./assets/Logo/logo.png"/>
    </a>      
  </div>

  <div class="hashtag">
    <span>#RunHardPlayHard</span>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item lower">
        <a [class.active]="this.router.url === '/about'" routerLink="/about">Where & When</a>
      </li>
      <li class="nav-item lower">
        <a [class.active]="this.router.url === '/route'" routerLink="/route">The Route</a>
      </li>
      <li class="nav-item lower">
        <a [class.active]="this.router.url === '/charity'" routerLink="/charity">The Charity</a>
      </li>
      <li class="nav-item lower">
        <a [class.active]="this.router.url === '/tickets'" routerLink="/tickets">Tickets</a>
      </li>
      <li class="nav-item lower">
        <a [class.active]="this.router.url === '/gallery'" routerLink="/gallery">Gallery</a>
      </li>
      <li class="nav-item lower">
        <a [class.active]="this.router.url === '/cider'" routerLink="/cider">The Cider</a>
      </li>
    </ul>
  </div>

</nav>

<div class="nav-break hidden-sm-up"></div>