<div class="freezePane">
  <div class="container">
    <ul class="sidenav">
      <li class="image-block">
        <a class="image-underline" routerLink="/home">
          <img src="./assets/Logo/logo.png"/>
        </a>
      </li>
      <!-- <div class="space"></div> -->
      <li class="lower"><a [class.active]="this.router.url === '/about'" routerLink="/about">Where & When</a></li>
      <li class="lower"><a [class.active]="this.router.url === '/route'" routerLink="/route">Route</a></li>
      <li class="lower"><a [class.active]="this.router.url === '/tickets'" routerLink="/tickets">Tickets</a></li>
      <li class="lower"><a [class.active]="this.router.url === '/cider'" routerLink="/cider">The Cider</a></li>
      <!-- <li class="lower"><a [class.active]="this.router.url === '/contact'" routerLink="/contact">Contact</a></li> -->
    </ul>
  </div>
</div>
