.lower {
  padding-top: calc(15vh - 2rem);
}
ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: auto;
    position: relative;
    overflow: auto;
    display: flex;
}

ul.sidenav li:not(.image-block) {
  flex: 3;
  text-align: center;
}

.space {
  flex: 3;
}

ul.sidenav li a {
    margin: 0 auto;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

ul.sidenav li a.active {
    color: goldenRod !important;
}

ul.sidenav li a:hover:not(.image-underline):not(.active) {
    color: gold;
    transition: all 420ms cubic-bezier(.165, .84, .44, 1);
}

img {
  position: absolute center center;
  float: left;
  height: 15vh;
  object-fit: contain;
  float: initial;
}

.image-block {
  position: relative;
  flex: 2;
  height: calc(15vh + 10px);
  text-align: center;
}

.freezePane {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  margin: 0;
}
