<div class="container-fluid body-background">
        
    <div class="nav-padding"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="routePic"></div>
            </div>
        </div>
        <div class="row">
            <div class="col route-video">
                <video class="" controls>
                    <source src="./assets/Videos/route.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>
