.body-background {
  background: url("../../assets/Photos/signpost.jpg") rgba(255, 255, 255, 0.5) no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: color;
  padding:4em 0;
}

.nav-padding {
  height: 10vh;
}

.routePic {
  height: 90vh;
  background: url("../../assets/Photos/route.png") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.route-video{
  margin-top:2em;
  padding:auto;
  text-align: center;
}