<div class="container-fluid body-background">

  <div class="nav-padding"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="white">
          <h2 [class.active]="mainText1"><span class="white-bar-text">Are you running for a cause? We are!</span></h2>
          <h2 [class.active]="mainText2"><span class="white-bar-text">Our chosen charity is The Running Charity.</span></h2>
          <h2 [class.active]="mainText3"><span class="white-bar-text">These guys are helping tackle homelessness across the UK.</span></h2>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid body-white">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <p class="body-text text-center">
            At least 83,000 young people in the UK are homeless right now and, with homeless young people almost twice as likely to die as their non-homeless peers, there is an urgent need to push for change. We believe that running builds resilience, confidence and self-esteem and use this to improve the lives of 16-25 year-olds who are homeless or at risk of homelessness.  We have engaged 257 young homeless people in London and Manchester, through our personalised running programmes which builds the fitness and goal-setting mentality. These are key tools to help these young people to build healthy, sustainable futures.            
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-3 offset-md-3">
        <p class="body-text text-center">
          <a href="https://uk.virginmoneygiving.com/donation-web/charity?charityId=1009864" target="_blank" class="donate-link">Donate Now</a>
        </p>
      </div>
      <div class="col-sm-12 col-md-3">
        <p class="text-center">
          <img src="./assets/Logo/therunningcharity.png" class="running-charity-logo">
        </p>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
