.topPad {
  height: 40px;
}
.center {
  text-align: center;
  margin-top: 20px;
}
.container {
  display: flex;
}
.sponsor {
  flex: 1;
  height: 12vh;
  padding: 10px;
}

.containerBlank {
  display: flex;
  background: url("../../assets/Photos/image1.jpg") rgba(255,255,255,0.95)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: lighten;
}

.containerDark {
  display: flex;
  background: url("../../assets/Photos/image1.jpg") rgba(10,10,10,0.70)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: darken;
  color: white;
}
.white {
  color: white;
  /*font-size: 1.3rem;*/
}
.openingText {
  font-weight: bolder;
  font-size: 1.1rem;
}
p {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
.wide {
  text-align: center;
  margin: 20px;
  padding: 20px;
  flex: 1;
}
