<div class="container-fluid body-background">

  <div class="nav-padding"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="white">
          <h2 [class.active]="mainText1"><span class="white-bar-text">Run. Taste. Explore.</span></h2>
          <h2 [class.active]="mainText2"><span class="white-bar-text">Producers to be announced.</span></h2>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid body-white">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <p class="body-text text-center">
          There will be a cider taster at every mile of the run.
          <br>
          Take it easy, enjoy the views, and get to know some of the amazing cider producers fuelling your half marathon.
        </p>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <p class="body-text text-center">
          <strong>Want to get involved?</strong>
        </p>
        <p class="text-center">
          <a href="mailto:info@ciderthon.com" class="donate-link">Request a sponsorship pack</a>
        </p>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
