<app-navstub></app-navstub>
<div class="topPad"></div>
<div class="containerBlank">
  <div class="wide">
    <div class="openingText">
      The Cider<br><br>
      There will be a 100ml cider taster at every mile of the run.<br>
      Take it easy, enjoy the views, and get to know some of the amazing cider producers<br>
      fuelling your half marathon.<br><br>
      TO BE ANNOUNCED
    </div>
    <br>
  </div>
</div>
<!-- <div class="center">
  <div class="container">
    <div class="sponsor"></div>
    <div class="sponsor">Brothers</div>
    <div class="sponsor"></div>
  </div>
  <div class="container">
    <div class="sponsor">Mill Whites</div>
    <div class="sponsor">Somersby</div>
    <div class="sponsor">Wilkins</div>
  </div>
  <div class="container">
    <div class="sponsor">Torre</div>
    <div class="sponsor">Orchard Pig</div>
    <div class="sponsor">Sandford Orchards</div>
  </div>
  <div class="container">
    <div class="sponsor">Severn</div>
    <div class="sponsor">Westons</div>
    <div class="sponsor">Thatchers</div>
  </div>
  <div class="container">
    <div class="sponsor">Once Upon a tree</div>
    <div class="sponsor">The apple country and co</div>
    <div class="sponsor">Hogans Cider</div>
  </div>
</div> -->
<div class="containerDark">
  <div class="wide">
    <div class="white">
      <p>Not Just Cider</p>
      The run doesn't just offer cider tasters...<br>
      A range of local specialities such as locally produces apple juices, and cheese selections are also available <br>
      This way you can still enjoy the leisure and jolliness of The Ciderthon<br>
      with alternative tasting experiences.
    </div>
    <br>
  </div>
  <app-carousel [images]="images" [text]="'Get your tickets <br>
 <a href=/tickets > here! </a>'"></app-carousel>
</div>
<app-footer></app-footer>
