.container2 {
  background: url("../../assets/Photos/Generic/kristian2.jpg") rgba(255,255,255,0.85) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: color;
  font-size: 1.2rem;
  padding: 1% 20% 1% 20%;
  text-align: center;
}

.white {
  text-align: center;
  padding-top: 20vh;
}

.white h2 {
  color: white;
  font: 800 32px/32px "open sans";
  margin: 0 0 0 0;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  transition: 3.5s ease-in-out;
}

.active {
  opacity: 1 !important;
}

.topText {
  background-color: rgba(0,0,0,0);
  text-align: center;
}

.dark{
  background: url("../../assets/Photos/Generic/kristian2.jpg") rgba(0,0,0,0.65)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: color;
  font-size: 1.2rem;
  padding: 2% 5% 2% 5%;
  // padding-bottom: px;
  text-align: center;
}

.darkLight{
  background: url("../../assets/Photos/Generic/kristian2.jpg") rgba(0,0,0,0.45)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: color;
  font-size: 1.2rem;
  padding: 5% 20% 5% 20%;
  padding-bottom: 80px;
  text-align: center;
}

.wide2{
  flex:2;
}
.red{
  color: #ef4723;
}
.kirsten {
  background: url("../../assets/Photos/Generic/kristian2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex: 1;
  // margin: 0px -20px;
  height: 50vh;
}
.up{
  margin-top: -40px;
}
.stub {
  height: 50vh;
}
.textt {
  position: relative;
  text-align: center;
  height: 50vh;
  text-shadow: 4px 4px 10px #011100, -2px -3px 10px #011100, 4px 5px 10px #011100, 4px 6px 10px #011100;
}

.banner {
  padding-top: 50px;
}
span.dark {
  color: black;
}
.double {
  display: flex;
}
.rel {
  position: relative;
}
.bottom-text{
  position: absolute;
  bottom: 33%;
  font-weight: bold;
  font-size: 3rem;
  width: 100%;
  display: none;
  transition: 0.5s ease-in-out;
}


.joinChallenge {
  background: url("../../assets/Photos/Generic/bruno-nascimento.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex: 1;
  height: 50vh;
  transition: 0.7s ease-in-out;
  background-blend-mode: lighten;
}

.joinChallenge:hover{
  background: url("../../assets/Photos/Generic/bruno-nascimento.jpg") rgba(255,255,255,0.8) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: lighten;
  .bottom-text {
    display: block;
  }
}

.firstEvent {
  background: url("../../assets/Photos/Generic/image 9.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex: 1;
  height: 50vh;
  transition: 0.7s ease-in-out;
  background-blend-mode: lighten;
}

.firstEvent:hover{
  background: url("../../assets/Photos/Generic/image 9.jpg") rgba(255,255,255,0.8) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: lighten;
  .bottom-text {
    display: block;
  }
}

p {
	color: #222;
	font: 400 16px/24px "gentium book basic";
	margin: 0;
}

.sample h1 {
	color: #222;
	font: 800 64px/64px "open sans";
	margin: 0 0 0px 0;
	text-align: center;
	text-transform: uppercase;
}

.sample#nietzsche h1 span {
	text-transform: none;
  font-size: 3rem;
}

.italic {
  font-style: italic;
}

.sample#nietzsche h1 span.kern {
	margin: 0 4px 0 -10px;
}

.sample#nietzsche h2 {
  color: #222;
  text-transform: uppercase;
}

.sample#nietzsche h2 span {
	background: gold;
	padding: 0 20px;
	position: relative;
	top: -10px;
  z-index: 3;
}

.sample#nietzsche p {
	color: #222;
	margin: 0;
}

.container {
  display: flex;
}

.fixer {
  position: fixed;
}

.wide {
  text-align: center;
  flex: 1;
}
.center {
  padding-top: 0px;
  text-align: center;
}
