<div class="bg">
</div>
<app-navstub></app-navstub>
<section class="sample" id="nietzsche">
<section class="text">
  <h2><span>#RunHardPlayHard</span></h2>
</section>
</section>
<div class="container">
  <div class="kirsten">
    <div class="double">
      <div class="wide2 textt">
          <div class="white">
            <h2 [class.active]="mainText1">Fancy a challenge?<br></h2>
            <h2 [class.active]="mainText2">Run a half marathon in Somerset<br></h2>
            <h2 [class.active]="mainText3">Fuelled by Cider<br></h2>
          </div>
      </div>
      <!-- <div class="wide">
      </div> -->
    </div>
  </div>
</div>



<!-- <div class="container2 light">
<section class="sample" id="nietzsche">
<section class="text">
  <h2></h2>
  <h1><span>Become a</span> Ciderthoner </h1>
  <h2 class="center"><span>#RunHardPlayHard</span></h2>
</section>
</section>
</div> -->

<div class="container2">
  A half marathon with a cider taster at every mile, you will be earning every step of your way <br><br>
Finishing the Half Ciderthon will take you to a whole new level of epicness. You will become a part of the heart of Somerset, experiencing the very best cider from the very best producers. You will be introduced to a community of people who work hard, play hard, and run damn hard too.<br><br>
And as a team you will do whatever it takes to get yourself, and others, to the finish line.
</div>

<!-- <section class="sample" id="nietzsche">
<section class="text">
  <h1><span>On the<br></span> Genealogy <span class="kern">of</span> Morals</h1>
  <h2><span>Friedrich Nietzsche</span></h2>
</section>
</section> -->
<!-- <section class="sample" id="nietzsche">
<section class="text">
  <h2></h2>
  <h1><span>Become a</span> Ciderthoner </h1>
  <h2><span>#RunHardPlayHard</span></h2>
</section>
</section> -->


<!-- <div class="container up" routerLink="/about">
  <div class="wide firstEvent rel">
    <div class="bottom-text">
      Be a part of the first event of its kind
    </div>
  </div>
  <div class="wide joinChallenge rel">
    <div class="bottom-text">
      Join the challenge
    </div>
  </div>
</div> -->

<!-- <app-hover-image></app-hover-image> -->

<div class="container2 light">
<section class="sample" id="nietzsche">
<section class="text">
  <h2></h2>
  <h1><span>Become a</span> Ciderthoner </h1>
  <h2 class="center"><span>#RunHardPlayHard</span></h2>
</section>
</section>
</div>


<!-- <div>
  <p>
    DON’T DRINK? Still have just as much fun.
    <br>
    Don’t drink, or don’t fancy cider and running? We will have the option of locally produced apple juices and other local specialties such as cheddar cheeses. This way you can still enjoy the leisure and jolliness of The Ciderthon with alternative tasting experiences.
    <br>
    (Photos of cheeses and apple juice/ people holding them)
  </p>
</div> -->

<!-- (Photos of cheeses and apple juice/ people holding them) -->
<div class="container">
<app-carousel [images]="images1" [text]="'Be a part of one of the first events of its kind'"></app-carousel>
<app-carousel [images]="images2" [text]="'Join the challenge'"></app-carousel>
</div>
<!-- <div class="container darkLight">
  <div class="wide" style="color:white">
    For the Facts drinkaware.co.uk
  </div>
  <div class="wide" style="color:white">
    Somerset, UK
  </div>
</div> -->
<app-footer></app-footer>
